// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Device Tree Source for the RZA2MEVB board
 *
 * Copyright (C) 2018 Renesas Electronics
 *
 * This file is dual-licensed
 */

/dts-v1/;
#include "r7s9210.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/r7s9210-pinctrl.h>

/ {
	model = "RZA2MEVB";
	compatible = "renesas,rza2mevb", "renesas,r7s9210";

	aliases {
		/* It is recommended to always map the serial console as /dev/ttySC0
		 * in you system regardless of the actual SCIF channel used */
		serial0 = &scif4;
	};

	chosen {
		/* Keep extra spaces at the end in case you want to add additional command line options from u-boot */
		bootargs = "ignore_loglevel earlycon rootfstype=axfs root=/dev/null rootflags=physaddr=0x20800000                   ";
		stdout-path = "serial0:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		//reg = <0x80000000 0x00400000>;	 /* 4Mbyte of Internal RAM only */
		reg = <0x40000000 0x00800000>;	 /* 8Mbyte of HyperRAM only */
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};

#if 1 /* Read Only File system in QSPI Example */
	/* File System in XIP QSPI */
	/* Remember, we'll be in QSPI XIP mode at this point */
	/* Requires CONFIG_MTD_ROM=y */
	qspi@18000000 {
		compatible = "mtd-rom";
		//probe-type = "map_rom";
		probe-type = "direct-mapped";	// XIP from QSPI
		reg = <0x20000000 0x4000000>;	/* 64 MB*/
		bank-width = <4>;
		device-width = <1>;

		#address-cells = <1>;
		#size-cells = <1>;

		partition@800000 {
			label ="rootfs_xipcramfs";
			reg = <0x0800000 0x1000000>; /* 16MB @ 0x20800000 */
			read-only;
		};
	};
#endif

#if 0
	drp: drp@ea000000 {
		compatible = "renesas,r7s9210-drp";
		reg = <0xea000000 0x1000000>;
		interrupts = <GIC_SPI 415 IRQ_TYPE_LEVEL_HIGH>;
		clock = <&cpg CPG_MOD 90>;
		clock-names = "drp";
		power-domains = <&cpg>;
		status = "okay";
	};
#endif
};

/* EXTAL */
&extal_clk {
	clock-frequency = <24000000>;	/* 24MHz */
};

/* RTC_X1 (remove if not populated) */
&rtc_x1_clk {
	clock-frequency = <32768>;
};

/* High resolution System tick timers */
&ostm0 {
	status = "okay";
};

&ostm1 {
	status = "okay";
};

/*
 * Define your pin settings here
 *
 */
&pinctrl {

	/* Serial Console */
	scif4_pins: serial4 {
		pinmux = <RZA2_PINMUX(PORT9, 0, 4)>,	/* TxD4 */
			 <RZA2_PINMUX(PORT9, 1, 4)>;	/* RxD4 */
	};

	/* RIIC ch2 (MIPI camera) */
	i2c2_pins: i2c2 {
		pinmux = <RZA2_PINMUX(PORTD, 4, 1)>,	/* RIIC2SCL */
			 <RZA2_PINMUX(PORTD, 5, 1)>;	/* RIIC2SDA */
	};
	
	/* RIIC ch3 (Touchscreen, EEPROM, CEU) */
	i2c3_pins: i2c3 {
		pinmux = <RZA2_PINMUX(PORTD, 6, 1)>,	/* RIIC3SCL */
			 <RZA2_PINMUX(PORTD, 7, 1)>	/* RIIC3SDA */
#if 1
			/* include CEU pin setup here */
			/* switch SW6-4 = OFF  (Ether #1 cannot be used, but Ether #2 is OK) */
			 ,<RZA2_PINMUX(PORT6, 2, 2)>,	/* VIO_VD */
			 <RZA2_PINMUX(PORT6, 1, 2)>,	/* VIO_CLK */
			 <RZA2_PINMUX(PORTE, 1, 2)>,	/* VIO_D7 */
			 <RZA2_PINMUX(PORTE, 3, 2)>,	/* VIO_D5 */
			 <RZA2_PINMUX(PORTE, 5, 2)>,	/* VIO_D3 */
			 <RZA2_PINMUX(PORTH, 0, 2)>,	/* VIO_D1 */
			 <RZA2_PINMUX(PORTG, 4, 2)>,	/* VIO_D15 */
			 <RZA2_PINMUX(PORTG, 6, 2)>,	/* VIO_D13 */
			 <RZA2_PINMUX(PORTG, 3, 2)>,	/* VIO_D11 */
			 <RZA2_PINMUX(PORTG, 1, 2)>,	/* VIO_D9 */
			 <RZA2_PINMUX(PORT6, 3, 2)>,	/* VIO_HD */
			 <RZA2_PINMUX(PORTE, 2, 2)>,	/* VIO_D6 */
			 <RZA2_PINMUX(PORTE, 4, 2)>,	/* VIO_D4 */
			 <RZA2_PINMUX(PORTE, 6, 2)>,	/* VIO_D2 */
			 <RZA2_PINMUX(PORTH, 1, 2)>,	/* VIO_D0 */
			 <RZA2_PINMUX(PORTE, 0, 2)>,	/* VIO_FLD */
			 <RZA2_PINMUX(PORTG, 5, 2)>,	/* VIO_D14 */
			 <RZA2_PINMUX(PORTG, 7, 2)>,	/* VIO_D12 */
			 <RZA2_PINMUX(PORTG, 2, 2)>,	/* VIO_D10 */
			 <RZA2_PINMUX(PORTG, 0, 2)>	/* VIO_D8 */
#endif
		;	


	};

	/* RSPI ch3 (EEPROM) */
	spi0_pins: spi0 {
		pinmux = <RZA2_PINMUX(PORT8, 5, 4)>,	/* MISO0 */
			 <RZA2_PINMUX(PORT8, 6, 4)>,	/* MOSI0 */
			 <RZA2_PINMUX(PORT8, 7, 4)>,	/* CLK0 */
			 <RZA2_PINMUX(PORT8, 4, 4)>;	/* SSL0 */
	};

	/* SDHI 0 */
	sdhi0_pins: sdhi0 {
		pinmux = <RZA2_PINMUX(PORT5, 0, 3)>,	/* SD0_CD */
			 <RZA2_PINMUX(PORT5, 1, 3)>;	/* SD0_WP */
	};

	/* IRQ3 (Touchscreen) */
	irq3_pins: irq3 {
		pinmux = <RZA2_PINMUX(PORT5, 7, 2)>;	/* IRQ3 */
	};

	/* VDC LCD */
	vdc6_pins: vdc6 {
		pinmux =
#if 1 /* Parallel Interface */
			<RZA2_PINMUX(PORTF, 7, 3)>, // LCD0_DATA0
			<RZA2_PINMUX(PORTH, 2, 3)>, // LCD0_DATA1
			<RZA2_PINMUX(PORTF, 6, 3)>, // LCD0_DATA2
			<RZA2_PINMUX(PORTF, 5, 3)>, // LCD0_DATA3
			<RZA2_PINMUX(PORTF, 4, 3)>, // LCD0_DATA4
			<RZA2_PINMUX(PORTF, 3, 3)>, // LCD0_DATA5
			<RZA2_PINMUX(PORTF, 2, 3)>, // LCD0_DATA6
			<RZA2_PINMUX(PORTF, 1, 3)>, // LCD0_DATA7
			<RZA2_PINMUX(PORTF, 0, 3)>, // LCD0_DATA8
			<RZA2_PINMUX(PORT8, 0, 3)>, // LCD0_DATA9
			<RZA2_PINMUX(PORTA, 0, 3)>, // LCD0_DATA10
			<RZA2_PINMUX(PORTA, 1, 3)>, // LCD0_DATA11
			<RZA2_PINMUX(PORTA, 2, 3)>, // LCD0_DATA12
			<RZA2_PINMUX(PORTA, 3, 3)>, // LCD0_DATA13
			<RZA2_PINMUX(PORTA, 4, 3)>, // LCD0_DATA14
			<RZA2_PINMUX(PORTA, 5, 3)>, // LCD0_DATA15
			<RZA2_PINMUX(PORTA, 6, 3)>, // LCD0_DATA16
			<RZA2_PINMUX(PORTA, 7, 3)>, // LCD0_DATA17
			<RZA2_PINMUX(PORTB, 0, 3)>, // LCD0_DATA18
			<RZA2_PINMUX(PORTB, 1, 3)>, // LCD0_DATA19
			<RZA2_PINMUX(PORTB, 2, 3)>, // LCD0_DATA20
			<RZA2_PINMUX(PORTB, 3, 3)>, // LCD0_DATA21
			<RZA2_PINMUX(PORTB, 4, 3)>, // LCD0_DATA22
			<RZA2_PINMUX(PORTB, 5, 3)>, // LCD0_DATA23
			<RZA2_PINMUX(PORT7, 7, 3)>, // LCD0_TCON0
			<RZA2_PINMUX(PORT7, 6, 3)>, // LCD0_TCON1
		//	<RZA2_PINMUX(PORTC, 5, 5)>, // LCD0_TCON2	/* not used on this board */
			<RZA2_PINMUX(PORTC, 4, 5)>, // LCD0_TCON3
			<RZA2_PINMUX(PORTC, 3, 5)>, // LCD0_TCON4
		//	<RZA2_PINMUX(PORTC, 2, 5)>, // LCD0_TCON5	/* not used on this board */
		//	<RZA2_PINMUX(PORTC, 1, 5)>, // LCD0_TCON6	/* not used on this board */
			<RZA2_PINMUX(PORTJ, 6, 3)>; // LCD0_CLK
#else /* LVDS Interface  */
			<RZA2_PINMUX(PORT4, 0, 2)>, // TXOUT0P
			<RZA2_PINMUX(PORT4, 1, 2)>, // TXOUT0M
			<RZA2_PINMUX(PORT4, 2, 2)>, // TXOUT1P
			<RZA2_PINMUX(PORT4, 3, 2)>, // TXOUT1M
			<RZA2_PINMUX(PORT4, 4, 2)>, // TXOUT2P
			<RZA2_PINMUX(PORT4, 5, 2)>, // TXOUT2M
			<RZA2_PINMUX(PORT4, 6, 2)>, // TXCLKOUTP
			<RZA2_PINMUX(PORT4, 7, 2)>; // TXCLKOUTM
#endif
	};
};

/* Serial Console */
&scif4 {
	pinctrl-names = "default";
	pinctrl-0 = <&scif4_pins>;

	//uart-has-rtscts;	/* uncomment to use RTS/CTS, but you will also need to set up the pins */
	status = "okay";
};

&sdhi0 {
        pinctrl-names = "default";
	pinctrl-0 = <&sdhi0_pins>;
        bus-width = <4>;
        status = "okay";
	disable-wp;
};

/* RIIC3 (Touchscreen, EEPROM, CEU) */
&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;

	status = "okay";
	clock-frequency = <400000>;

	ft5x06_ts@38 {
		compatible = "focaltech,ft5x06";
		reg = <0x38>;

		pinctrl-names = "default";
		pinctrl-0 = <&irq3_pins>;
		interrupts = <GIC_SPI (39-32) IRQ_TYPE_LEVEL_LOW>; /* IRQ3 */

		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;

		/* The touchscreen on the RSK LCD is backwards for some reason */
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};

	/* Renesas R1EX24128 EEPROM */
	/* 'eeprom' will show up under:
	 * /sys/bus/i2c/devices/3-0050/
	 */
        eeprom@50 {
                compatible = "renesas,24c128", "atmel,24c128";
                reg = <0x50>;
                pagesize = <64>;
        };
};


/* RIIC2 (MIPI Camera) */
&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	status = "okay";
	clock-frequency = <400000>;
};

/* ========== LCD 24-bit Parallel Interface ========== */
#if 1

/* 800x480 RSK LCD - 24-bit Parallel Interface */

/* Pacer TFT LCD Panel, Model gwp0700cnwv04 */
#define XIP_KERNEL_WITHOUT_EXTERNAL_RAM 0
#if XIP_KERNEL_WITHOUT_EXTERNAL_RAM
  #define VDC6_BPP 16 /* 16bpp or 32bpp */
  #define VDC6_FBSIZE (480*272*VDC6_BPP/8)	/* Emulated WQVGA screen */
  #define VDC6_FB_ADDR 0	/* allocate memory at probe */
#else
  #define VDC6_BPP 16 /* 16bpp or 32bpp */
  #define VDC6_FBSIZE (800*480*VDC6_BPP/8)
  #define VDC6_FB_ADDR (0x80000000) /* fixed address in PAGE 0 */
#endif

/* VDC6 */
/* RSK LCD: 800x600 LCD */
/* Pacer TFT LCD Panel, Model gwp0700cnwv04 */
/* Parallel IF */
&vdc6 {
	pinctrl-names = "default";
	pinctrl-0 = <&vdc6_pins>;

	display = <&display0>;
	status = "okay";

	/* Set the physical frame buffer address for internal RAM. */
	fb_phys_addr = <VDC6_FB_ADDR>;
	fb_phys_size = <VDC6_FBSIZE>;

	panel_name = "gwp0700cnwv04";
	panel_pixel_xres = <800>;	/* panel native resolution */
	panel_pixel_yres = <480>;	/* panel native resolution */


	/* See 'drivers/video/fbdev/renesas/vdc5fb.h' for valid choices
	* for panel_icksel, panel_ocksel, and out_format */
	panel_icksel = <3>;	/* 3=ICKSEL_P1CLK (Peripheral clock 1) */
	panel_ocksel = <0>;	/* (don't care when lvds=0 ) */
	out_format = <0>;	/* 0=OUT_FORMAT_RGB888 */
	use_lvds = <0>;		/* Set to 0 or 1 */

	/* How are the TCON pins going to be used */
	tcon_sel = <
		0	/* TCON0:    0=TCON_SEL_STVA (VSYNC) */
		0xff	/* TCON1: 0xff=TCON_SEL_UNUSED */
		0xff	/* TCON2: 0xff=TCON_SEL_UNUSED */
		2	/* TCON3:    2=TCON_SEL_STH (HSYNC) */
		7	/* TCON4:    7=TCON_SEL_DE (DATA ENABLE) */
		0xff	/* TCON5: 0xff=TCON_SEL_UNUSED */
		0xff	/* TCON6: 0xff=TCON_SEL_UNUSED */
		>;

	display0: display0 {
		bits-per-pixel = <VDC6_BPP>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <33000000>; /* P1 clk / 2 */
#if XIP_KERNEL_WITHOUT_EXTERNAL_RAM
				hactive = <480>;
				vactive = <272>;
#else
				hactive = <800>;
				vactive = <480>;
#endif
				hback-porch = <26>;		/* back porch = 'HS Blanking'(46) - hsync-len(20) */
				hfront-porch = <210>;		/* 'HS Front Porch (210)' */
				vback-porch = <13>;		/* back porch = 'VS Blanking'(23) - vsync-len(10) */
				vfront-porch = <22>;		/* 'VS Front Porch(22)' */
				hsync-len = <20>;		/* pulse width of HSYNC (min=1, max=40) */
				vsync-len = <10>;		/* pulse width of VSYNC (min=1, max=20) */
				hsync-active = <1>; 		/* HSYNC pulse is: 0=Active LOW, 1=Active HIGH */
				vsync-active = <1>; 		/* VSYNC pulse is: 0=Active LOW, 1=Active HIGH */
				de-active = <0>; 		/* Data Enable signal is: 0=Active LOW , 1= Active HIGH */
				pixelclk-active = <0>; 		/* Pixel Data clocked on: 0=Negative clock edge */
			};
		};
	};
};
#endif /* Parallel LCD */


/* ========== LCD LVDS Interface Example ========== */
#if 0

/* LVDS Panel: HSD070PWW1 -B01 | 1280x800 (WXVGA), 7", LVDS, 16bpp */
/* LVDS IF */
#define VDC6_BPP 16
#define VDC6_FBSIZE (1280*800*VDC6_BPP/8)
#define VDC6_FB_ADDR (0x80000000) /* fixed address in PAGE 0 */

&vdc6 {
	pinctrl-names = "default";
	pinctrl-0 = <&vdc6_pins>;

	display = <&display0>;
	status = "okay";

	/* Set the physical frame buffer address for internal RAM. */
	fb_phys_addr = <VDC6_FB_ADDR>;
	fb_phys_size = <VDC6_FBSIZE>;

	panel_name = "HSD070PWW1";
	panel_pixel_xres = <1280>;	/* panel native resolution */
	panel_pixel_yres = <800>;	/* panel native resolution */

	/* See 'drivers/video/fbdev/renesas/vdc5fb.h' for valid choices
	* for panel_icksel, panel_ocksel, and out_format */
	panel_icksel = <0>;	/* (don't care when lvds=1) */
	panel_ocksel = <2>;	/* 2=OCKSEL_PLL_DIV7 (LVDS PLL clock divided by 7) */
	out_format = <0>;	/* 0=OUT_FORMAT_RGB888 */
	use_lvds = <1>;		/* Set to 0 or 1 */

	/* How are the TCON pins going to be used */
	tcon_sel = <
		0xff	/* TCON0: 0xff=TCON_SEL_UNUSED */
		0xff	/* TCON1: 0xff=TCON_SEL_UNUSED */
		0xff	/* TCON2: 0xff=TCON_SEL_UNUSED */
		7	/* TCON3:    7=TCON_SEL_DE (DATA ENABLE) */
		0xff	/* TCON4: 0xff=TCON_SEL_UNUSED */
		0xff	/* TCON5: 0xff=TCON_SEL_UNUSED */
		0xff	/* TCON6: 0xff=TCON_SEL_UNUSED */
		>;

	display0: display0 {
		bits-per-pixel = <VDC6_BPP>;		/* Set to 16 or 32 */
		bus-width = <16>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <71100000>; /* min:64.3MHz, typ:71.1MHz, max:82MHz */
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <16>;
				hfront-porch = <16>;
				vback-porch = <24>;
				vfront-porch = <1>;
				hsync-len = <136>; /* max */
				vsync-len = <3>; /* max */
				hsync-active = <1>; /* HIGH */
				vsync-active = <1>; /* HIGH */
				de-active = <0>; /* LOW */
				pixelclk-active = <0>; /* ??? */
			};
		};
	};
};
#endif /* LVDS */


